.body {
  margin: 0;
  padding: 0;
  width: 100%; 
}

.apartment-listing-container {
  display: flex;
  width: 100%;
  height: 100%;
}



.map-container {
  width: 60%;
  position: relative;
  border-right: 1px solid #ccc;
  top: 70px;
}

.map-placeholder span {
  font-size: 16px;
}

.filter-sort-section {
 
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  flex-wrap: nowrap; 
  overflow-x: auto; 
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px auto;
}

.filter-element {
  flex-shrink: 0;
  min-width: 100px;
  margin-right: 10px;
}


.rent-filter,
.bedroom-filter,
.bathroom-filter,
.sort-section {
  margin-right: 10px;
  padding: 5px;
}


.filter-sort-section input,
.filter-sort-section select {
  font-size: 0.85em;
  min-width: 60px; 
}

@media (max-width: 768px) {
  .filter-sort-section {
    grid-template-columns: repeat(
      auto-fill,
      minmax(100px, 1fr)
    ); 
  }
}

@media (max-width: 480px) {
  .filter-sort-section {
    grid-template-columns: 1fr; 
  }
}

.rent-filter,
.bedroom-filter,
.bathroom-filter,
.sort-section {
  width: 100%; 
  margin-bottom: 10px; 
}

.listing-container {
  width: 50%;
  overflow-y: auto;
  margin: 15px;
  padding: 15px;
}
