.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 60px;
  background-color: #f8f8f8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.image-and-map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
  gap: 10px;
}

.image-navigation-section {
  display: flex;
  justify-content: center;
  margin-right: 20px;
  gap: 10px;
}

.image-section {
  flex: 0 1 calc(33.33% - 10px);
  height: 300px;
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}

.image-section img {
  width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.map-placeholder {
  height: 300px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: #666;
  min-width: 300px;
}

.details-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 30px;
}

.property-details {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 25px;
  flex: 1;
  margin-right: 30px;
}

.contact-details {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-button {
  padding: 5px 10px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
  cursor: pointer;
  width: 80%;
  height: 40px;
}

.nav-button {
  padding: 10px 15px;
  font-size: 18px;
  margin: 5px;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  cursor: pointer;
}

.about-section {
  margin-top: 40px;
  padding: 20px;
  background-color: #fafafa;
}

.calculator-container {
  width: 30%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
}

.calculator-text,
.calculator-value,
.calculator-header {
  font-size: 18px;
  display: inline-block;
  margin-left: 20px;
}

.calculator-header {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.calculator-value {
  font-weight: bold;
}
