/* Map Default Background Color */
path {
  fill: #ccc;
}

/* Map Hover Background Color */
path[id="1"]:hover {
  fill: rgb(9, 218, 19);
}
path[id="2"]:hover {
  fill: #da1709;
}
path[id="3"]:hover {
  fill: #4109da;
}
path[id="4"]:hover {
  fill: rgb(9, 218, 19);
}
path[id="5"]:hover {
  fill: #da1709;
}
path[id="6"]:hover {
  fill: #4109da;
}

path[id="7"]:hover {
  fill: rgb(9, 218, 19);
}
path[id="8"]:hover {
  fill: #da1709;
}
path[id="9"]:hover {
  fill: #4109da;
}
path[id="10"]:hover {
  fill: rgb(9, 218, 19);
}
path[id="11"]:hover {
  fill: #da1709;
}



